/*==========================
	Author: Dani Amsalem
	theamsalems.com
============================
	Header Styling
============================*/
html {
    scroll-behavior: smooth
}
header.masthead {
	position: relative;
	background: url("../images/blockchain-rB.png") no-repeat center center;
	padding-top: 10rem;
	padding-bottom: 8rem;
	box-shadow: 0 0 50px 8px white inset;
  height: 85vh;
}

header.masthead h1 {
	font-size: 3rem;
}

#transparent-box  {
	background-color: rgba(255, 255, 255, 0.6); /* Black w/opacity/see-through */
	border-radius: 50px;
}

/*==========================
	General Image Styling
============================*/
.container .row .col img {
	border: 1px solid #c1c1c1;
	border-radius: 5px;
}

/*==========================
	Projects Styling
============================*/


/*==========================
	Skills List Styling
============================*/
#skills {
	background-color: #ededed;
	box-shadow: 0 0 50px 8px white inset;
	padding: 0px 10%;
}

/*========================
	Achievements Styling
========================*/


/*========================
	Personal Styling
========================*/
#personal {
	background-color: #ededed;
	box-shadow: 0 0 50px 8px white inset;
	padding: 0px 10%;
}

#personal .row .col img {
	border-radius: 5px;
}

/*========================
	Footer Styling
========================*/
