/*==========================
	Author: Dani Amsalem
	theamsalems.com

============================
	Navbar Styling
============================*/
nav {
  background-color: #ededed;
}

nav a{
  color: #686868;
}

#lightNav {
  color: #a0a0a0;
}

#lightNav:hover {
  color: #3366bb;
}
/*============================
	Header Styling
============================*/
html {
    scroll-behavior: smooth;
}
header.masthead {
	position: relative;
	background: url("../images/blockchain-rF.png") no-repeat center center;
	padding-top: 10rem;
	padding-bottom: 8rem;
	box-shadow: 0 0 50px 8px white inset;
  height: 85vh;
}

header.masthead h1 {
	font-size: 3rem;
}

#transparent-box  {
	background-color: rgba(255, 255, 255, 0.6); /* Black w/opacity/see-through */
	border-radius: 50px;
}

/*==========================
	Projects Styling
============================*/
.container-projects ul{
	list-style: inside;
	padding-left: 0;
}

/*==========================
	General Image Styling
============================*/
.container .row .col img {
	border: 1px solid #c1c1c1;
	border-radius: 5px;
}

/*==========================
	Contact Styling
============================*/
.cta {
  background-color: #70db70;
	border-radius: 20px;
}

/*========================
	Achievements Styling
========================*/
#achievements ul{
	list-style: inside;
	padding-left: 0;
}

/*========================
	Personal Styling
========================*/

#personal .row .col img {
	border-radius: 5px;
}

#personal ul.highlights{
	float: left;
  padding: 0;
  list-style-type: none;
}