// Google Font
// font-family: 'Cabin', sans-serif;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cabin", sans-serif !important;
}

p,
ul,
ol,
li {
  font-family: "Cabin", sans-serif !important;
}

img {
  &:hover {
    opacity: 0.8;
  }
}

nav {
  background-color: rgba(255, 255, 255, 0.7);

  .navigation {
    padding-left: 100px;
  }

  li {
    #dark-nav {
      color: #575656;

      &:hover {
        color: initial;
      }
    }
  }
}

header {
  text-align: center;
  overflow: hidden;
  background: url(../images/aerial-photography.jpg) no-repeat center fixed;
  background-size: cover;
  height: 600px;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .container {
    position: relative;
    height: 100%;
    z-index: 3;
  }

  .row {
    // height: 100%;
    // align-items: center;
  }

  .h-primary-content {
    margin-top: 200px;

    h1 {
      font-size: 3em;
      font-weight: bold;
      color: #fff;
    }
    h3 {
      font-size: 1.3em;
      color: #fff;
      // font-weight: bold;
    }
  }

  // a {
  //   position: absolute;
  //   left: 40%;
  //   right: 40%;
  //   bottom: 5%;

  //   #icon {
  //     color: #fff;
  //     // position: relative;
  //     opacity: 0.6;
  //     font-size: 4em;
  //     cursor: pointer;

  //     &:hover {
  //       opacity: 0.3;
  //     }
  //   }
  // }
}

.contact-me {
  margin: 50px auto 0px auto;

  .cm-col {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-btn {
      padding: 0.5em 2em;
      background-color: #1823b4;
      transition: 500ms;

      &:hover {
        background-color: #0e156d;
        // text-decoration: underline;
      }

      a {
        color: #fff;
        font-size: 1.3em;
        // font-weight: bold;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#projects {
  margin: 30px 0px 80px 0px;

  h2 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
  }

  .proj-1 {
    margin-top: -50px;
  }

  a {
    text-decoration: none;
  }

  .media-box {
    position: relative;
    width: auto;
    height: 181px;
    overflow: hidden;
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    // For p IDs
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    h3 {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 3;
    }

    img {
      width: 100%;
      height: auto;
    }

    .blue-overlay {
      position: absolute;
      background-color: #000;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      z-index: 2;
      top: 0;
      transition-duration: 500ms;

      &:hover {
        opacity: 0.4;
      }
    }
  }

  #p1 {
    background-image: url(../images/decryptionary.png);
  }
  #p2 {
    background-image: url(../images/tileplus-site.png);
  }
  #p3 {
    background-image: url(../images/catch-of-the-day.png);
  }
  #p4 {
    background-image: url(../images/gatepro.png);
  }
  #p5 {
    background-image: url(../images/psd-html.png);
  }
  #p6 {
    background-image: url(../images/pizza-site.png);
  }
  #p7 {
    background-image: url(../images/green-heart.png);
  }
  #p8 {
    background-image: url(../images/perfect-hair.png);
  }
}

#other-projects {
  background-color: #d9d9d9;
  padding: 80px 0;

  .op-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 350px;
    width: auto;

    &:hover {
      opacity: 1;
    }
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 50px 0;
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
  }

  ul {
    padding-top: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
    line-height: 1.5em;
  }
}

#interested {
  margin: 80px 0;
  h2 {
    text-align: center;
  }
}

#about {
  background-color: #d9d9d9;
  padding: 80px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px 50px 0;
  }

  h3 {
    text-align: center;
    padding-bottom: 30px;
  }

  img {
    width: 70px;
    height: auto;
  }

  .for-icons {
    // padding-top: 50%;
  }
}

#achievements {
  padding: 80px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 50px 0;
  }

  .s1 {
    align-items: center;
    margin-top: -50px;
  }

  .media-box {
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: auto;
    }
  }
}

#personal {
  padding-top: 30px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 50px 0;
  }

  h3 {
    text-align: center;
    padding: 50px 0;
  }

  .s1 {
    align-items: center;
  }

  .media-box {
    padding-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#closing {
  background-color: #d9d9d9;
  margin: 30px 0px 0px 0px;
  padding: 50px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  a {
    padding: 15px 0;
  }
}

.footer {
  text-align: center;
  padding: 3em 0 1.5em 3em;
}

////
//// BOOTSTRAP'S MEDIA QUERIES
////

//EXTRA SMALL devices (phones up to 768px):
@media only screen and (max-width: 768px) {
  header {
    .h-primary-content {
      margin-top: 50px;
    }
  }
  //
}
//// END EXTRA SMALL DEVICES

//SMALL devices (tablets, 768px and up):
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #projects {
    .media-box {
      height: 181px;
    }
  }
  //
}
//// END SMALL DEVICES

//MEDIUM devices (desktops, 992px and up):
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #projects {
    .media-box {
      height: 165px;
    }
  }

  #skills {
    .shields {
      margin: 0 15px;
    }
  }
  //
}
//// END MEDIUM DEVICES

//LARGE devices (large desktops, 1200px and up):
@media only screen and (min-width: 1200px) {
  #projects {
    .media-box {
      height: 198px;
    }
  }

  #skills {
    .shields {
      margin: 0 15px;
    }
  }
  //
}
//// END LARGE DEVICES
