// Google Font
// font-family: 'Cabin', sans-serif;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cabin", sans-serif !important;
}

p,
ul,
ol,
li {
  font-family: "Cabin", sans-serif !important;
}

img {
  &:hover {
    opacity: 0.8;
  }
}

nav {
  background-color: rgba(237, 237, 237, 0.5);

  .navigation {
    padding-left: 100px;
  }

  li {
    #dark-nav {
      color: #575656;

      &:hover {
        color: initial;
      }
    }
  }
}

header {
  text-align: center;
  overflow: hidden;

  .row {
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .h-primary-content {
    position: absolute;

    h1 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  a {
    // margin: -13% auto 0 auto; Works on FF

    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 5%;

    #icon {
      color: initial;
      // position: relative;
      opacity: 0.6;
      font-size: 4em;
      cursor: pointer;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

.contact-me {
  margin: 80px auto 0px auto;

  .cm-col {
    display: flex;
    justify-content: center;

    .contact-btn {
      padding: 0.5em 2em;
      background-color: #248f24;
      transition: 500ms;

      &:hover {
        background-color: #29a329;
        // text-decoration: underline;
      }

      a {
        color: #fff;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#projects {
  margin: 80px 0px 0px 0px;

  h2 {
    font-weight: bold;
    text-align: center;
  }

  .proj-1 {
  }

  .media-box {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 50px 0px 30px 0px;

    video {
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .proj-2 {
    padding: 80px 0px 0px 0px;
  }
}

////
//// BOOTSTRAP'S MEDIA QUERIES
////

//EXTRA SMALL devices (phones up to 768px):
@media only screen and (max-width: 768px) {
  header {
    .row {
      height: 100vh;

      video {
        width: auto;
      }

      a {
        margin: -25% auto 0 auto;
      }
    }
  }
  //
}
//// END EXTRA SMALL DEVICES

//SMALL devices (tablets, 768px and up):
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #projects {
    .media-box {
      height: 181px;
    }
  }
  //
}
//// END SMALL DEVICES

//MEDIUM devices (desktops, 992px and up):
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #projects {
    .media-box {
      height: 247px;
    }
  }
  //
}
//// END MEDIUM DEVICES

//LARGE devices (large desktops, 1200px and up):
@media only screen and (min-width: 1200px) {
  #projects {
    .media-box {
      width: 510px;
      height: 280px;
    }
  }
  //
}
//// END LARGE DEVICES
